{% extends "./base.html" %} {% block content %}

<div class="row">
  <div class="col-lg-12">
    <h1>Reviews for {{dealership_name}}</h1>
  </div>
  <div class="col-lg-12 mb-3 text-right">
    <a href="{% url 'djangoapp:add_review' dealership_id %}" class="btn btn-primary btn-sm">Add a review</a>
  </div>
  {% for review in reviews %}
  <div class="col-md-4 mb-4">
    <div class="card">
      <div
        class="card-body"
        style="background-image: url({{MEDIA_URL}}/emoji/{{review.sentiment}}.png); background-size: 20%; background-position: top 10px right 10px; background-repeat: no-repeat;"
      >
        <h5 class="card-title">{{review.car_make}}, {{review.car_model}}</h5>
        <h6 class="card-subtitle mb-2 text-muted">{{review.car_year}}</h6>
        <p class="card-text">{{review.review}}</p>
        <p class="card-text"><strong>By {{review.name}}</strong></p>
        <!-- Use appropriate emoji or image for the sentiment -->
      </div>
    </div>
  </div>
  {% endfor %}
</div>

{% endblock content %}
